# Replace latest by a specific date
http://nightly.odoo.com/11.0/nightly/src/odoo_11.0.latest.zip
# For merged modules
#odoo11-addon-module-name==11.0.1.0.0
#odoo11-addon-partner-contact-nutrition==11.0.1.0.0
# For unmerged modules
# git+https://github.com/ursais/repo_name@branch_name#egg=odoo11-addon-module-name&subdirectory=setup/module_name
# git+https://github.com/ursais/account-payment@11.0-partner-aging#egg=odoo11-addon-partner-aging&subdirectory=setup/partner_aging
