- name: Deploy
  hosts: localhost
  gather_facts: no
  vars:
  - odoo_dir: '{{ odoodir | default("/opt/odoo") }}'
  - db: '{{ database | default("MASTER") }}'
  - tag: '{{ git_tag | default("none") }}'
  - version: '{{ db_version | default("none") }}'
  - svc: '{{ service | default("odoo") }}'
  tasks:
  - name: Stop Odoo
    service: name={{ svc }} state=stopped

  - name: Update OS
    apt: update_cache=yes upgrade=dist autoclean=yes autoremove=yes

  - name: Clean the repo
    command: git clean -df
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Clean the submodules
    command: git submodule foreach --recursive git clean -df
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Reset the repo
    command: git reset --hard
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Reset the submodules
    command: git submodule foreach --recursive git reset --hard
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Pull the repo
    command: git pull
      chdir={{ odoo_dir }}
    when: tag == "none"
    become: yes
    become_user: odoo

  - name: Rollback the repo to {{ tag }}
    command: git pull {{ tag }}
      chdir={{ odoo_dir }}
    when: not tag == "none"
    become: yes
    become_user: odoo

  - name: Sync submodules
    command: git submodule sync
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Update submodules
    command: git submodule update --init
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Update pip
    command: ./env/bin/pip install --upgrade pip
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Update the environment
    command: ./env/bin/pip install -r requirements.txt
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo

  - name: Update Odoo
    command: ../env/bin/python setup.py install
      chdir={{ odoo_dir }}/odoo
    become: yes
    become_user: odoo

  - name: Get filestore path
    shell: echo $(grep "data_dir" /etc/odoo/{{ svc }}.conf || echo "/home/odoo/.local/share/Odoo") | sed -e 's/data_dir *= *//g'
    register: data_dir

  - name: Get PostgreSQL host
    shell: grep "db_host" /etc/odoo/{{ svc }}.conf | sed -e 's/db_host = //g'
    register: pghost

  - name: Get PostgreSQL port
    shell: grep "db_port" /etc/odoo/{{ svc }}.conf | sed -e 's/db_port = //g'
    register: pgport

  - name: Get PostgreSQL user
    shell: grep "db_user" /etc/odoo/{{ svc }}.conf | sed -e 's/db_user = //g'
    register: pguser

  - name: Get PostgreSQL password
    shell: grep "db_password" /etc/odoo/{{ svc }}.conf | sed -e 's/db_password = //g'
    register: pgpassword

  - name: Check if filestore exists
    stat:
      path: "{{ data_dir.stdout }}/filestore/{{ db }}"
    register: filestore

  - name: Copy the database
    shell: psql -h {{ pghost.stdout }} -p {{ pgport.stdout }} -U {{ pguser.stdout }} template1 -c "CREATE DATABASE \"{{ db }}\" WITH TEMPLATE \"BACKUP\";"
    environment:
      PGPASSWORD: '{{ pgpassword.stdout }}'
    when: not filestore.stat.exists

  - name: Copy filestore
    command: cp -r BACKUP/ {{ db }}
      chdir={{ data_dir.stdout }}/filestore
    become: yes
    become_user: odoo
    when: not filestore.stat.exists

  - name: Get list of modules to update
    shell: echo `grep "UPDATE" {{ version }} || echo "none"` | sed -e 's/UPDATE=//g'
      chdir={{ odoo_dir }}/ansible
    when: tag == "none"
    register: update

  - name: Update {{ db }}
    shell: ./env/bin/odoo -c /etc/odoo/{{ svc }}-debug.conf -u {{ update.stdout }} -d {{ db }} --stop-after-init 2>&1 | tee /var/log/odoo/{{ db }}-update-{{ version }}.log
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo
    when: not db == "BACKUP" and not update.stdout == "none" and tag == "none"

  - name: Get the list of modules to install
    shell: echo `grep "INSTALL" {{ version }} || echo "none"` | sed -e 's/INSTALL=//g'
      chdir={{ odoo_dir }}/ansible
    when: tag == "none"
    register: install

  - name: Install new modules in {{ db }}
    shell: ./env/bin/odoo -c /etc/odoo/{{ svc }}-debug.conf -i {{ install.stdout }} -d {{ db }} --stop-after-init 2>&1 | tee /var/log/odoo/{{ db }}-install-{{ version }}.log
      chdir={{ odoo_dir }}
    become: yes
    become_user: odoo
    when: not db == "BACKUP" and not install.stdout == "none" and tag == "none"

  - name: Cleanup sessions
    file:
      path: "{{ data_dir.stdout }}/sessions"
      state: absent

  - name: Change db_name
    replace:
      path: /etc/odoo/{{ svc }}.conf
      regexp: '^db_name = .*$'
      replace: 'db_name = {{ db }}'

  - name: Start Odoo
    service: name={{ svc }} state=started

  - name: Get errors
    shell: grep -i "CRITICAL\|ERROR\|WARNING" /var/log/odoo/{{ db }}*{{ version }}*
    register: errors

  - debug:
      var: errors.stdout_lines
